* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: tomato;
}

.vp {
  display: flex;
  height: 100%;
  width: 33.3%;
  align-items: flex-end;
  background-image: url(orange.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(14, 41, 30, 0.99) 24.44%, rgba(20, 28, 46, 0) 130.83%);
}

.value-prop {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
  z-index: 9;
  padding: 20px;
}

.value-prop p {
  color: white;
  width: 70%;
  text-align: center;
  margin-bottom: 20px;
}

.start{
  text-decoration: underline;
  color: green;
  font-style: normal;
}


.authentication {
  display: flex;
  height: 100vh;
  width: 66.7%;
  background:whitesmoke;
}

#account{
  position: absolute;
  /* width: 215px; */
  height: 24px;
  left: 805px;
  top: 65px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 134.3%;
  /* or 24px */
  color: #6F6F6F;
}

#sign-up{
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 134.3%;
/* or 24px */
text-decoration-line: underline;
color: rgba(1, 215, 125, 0.99);
}

#orange-form{
  position: absolute;
  width: 386px;
  height: 246px;
  left: 649px;
  top: 237px;
}
#sign-in{
  font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 28px;
/* line-height: 134.3%; */
/* identical to box height, or 38px */
color: #000000;
}

#details{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 134.3%;
/* identical to box height, or 19px */
color: #6F6F6F;
}

input[type=password]{
  background-image: url('ios-eye.png');
  background-position: 359px 10px; 
  background-repeat: no-repeat;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px rgb(199, 196, 196) solid;
}


.button {
  background-color: #4CAF50;
  border: none;
  width: 100%;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 0px;
  cursor: pointer;
}

#pword-section{
float: right;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 134.3%;
/* identical to box height, or 19px */
color: #6F6F6F;
}

#recover{
  font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 134.3%;
/* identical to box height, or 19px */
text-decoration-line: underline;
color: rgba(1, 215, 125, 0.99);
}

/* sign up styling */
.vp-sign-up {
  display: flex;
  height: 100%;
  width: 33.3%;
  align-items: flex-end;
  background-image: url(orange2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}